* {
    margin: 1;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

  body {
    font-family: 'Lora', serif;
    display: flex;
    background-color: grey;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .content-container {
    padding-top: 0px;
    display: flex;
    max-width: 870px;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(60, 60, 200);
  }

  .vending {
    color: white;
    background-color: #bdbdbd;
    width: 70%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 0px;
    margin: 30px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
  }
  
  h1{
    color: gold;
    text-align: center;
  }
  
  .snack-container {
    text-align: center;
  }
  .snack-container img{
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 80px;
    height: 120px;
    background-color: lightblue;
}

  .snack-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: px;
    align-content: center;
    justify-content: center;
  }

  .dispenser-container {
    display: block;
    width: 240px;
    height: 150px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid 2px azure;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  } 

  #imgBox {
    width: 80px;
    height: 120px;
    background-color: black;
  }

    .control-container {
    color: white;
    width: 30%;
    padding: 5px;
    padding-top: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .code-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 10px;
  }
  
  .letter-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .code-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 3px;
    background-color: #bdbdbd;
    color: black;
  }

  #dispenserContainer {
    display: block;
    height: 180px;
    border: 1px solid #000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

  #myImage {
    width: 80px;
    height: 100px;
    margin: 20px;
    margin-left: 85px;
              
}
   
 