* {
    margin: 1;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

  body {
    font-family: 'Lora', serif;
    display: flex;
    background-color: grey;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .content-container {
    padding-top: 0px;
    display: flex;
    max-width: 870px;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(60, 60, 200);
  }

  .vending {
    color: white;
    background-color: #bdbdbd;
    width: 70%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 0px;
    margin: 30px;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
  }
  
  h1{
    color: gold;
    text-align: center;
  }
  
  .snack-container {
    text-align: center;
  }
  .snack-container img{
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 80px;
    height: 120px;
    background-color: lightblue;
}

  .snack-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: px;
    align-content: center;
    justify-content: center;
  }

  .dispenser-container {
    display: block;
    width: 240px;
    height: 150px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid 2px azure;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  } 

  #imgBox {
    width: 80px;
    height: 120px;
    background-color: black;
  }

    .control-container {
    color: white;
    width: 30%;
    padding: 5px;
    padding-top: 20px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .code-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 10px;
  }
  
  .letter-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #code-window {
    height: 80px;
    padding: 20px;
    font-size: 32px;
    text-align: center;
  }

.window {
    background-color: #bdbdbd;
    color: darkred;
    border-radius: 5px;
    box-shadow: -2px -2px black;
    margin-bottom: 5px;
 }

  .code-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 3px;
    background-color: #bdbdbd;
    color: black;
  }

  /* Attempt to use jquery to make snack image in drop box "wobble" as if it was really dropped. */
  /* .my-shake {
    animation-delay: 6s;
    animation: shake 0.2s;
    animation-iteration-count: 5;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } */

  .command-panel {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 40px;
  }
   
  #clear {
    background-color: orange;
    margin-left:5px;
    width: 80PX;
  }

  #dispenserContainer {
    display: block;
    height: 180px;
    border: 1px solid #000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

  #myImage {
    width: 80px;
    height: 100px;
    margin: 20px;
    margin-left: 85px;              
}
   
